/*-------------------------------------------
	共通部分
  -------------------------------------------*/
/* デフォルトで持っている要素の余白等設定をリセットするために設定 全部の要素に対してborder-boxを使う */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* リスト表示でドット無し */
a {
  text-decoration: none;
  color: #000000;
}

/* リンクがアンダーライン付きの表示無し 色無し */

img {
  max-width: 100%;
}

.logo {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}

.logo a {
  display: block;
}

.section-title {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}

.content-title {
  font-size: 1rem;
  margin: 10px 0;
}


/*-------------------------------------------
  ページ全体
  -------------------------------------------*/
.wrapper {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto 100px;
  text-align: center;
}

/*-------------------------------------------
  header
  -------------------------------------------*/
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 24px;
}

#header li {
  color: gray;
  margin-left: 30px;
}

/*-------------------------------------------
  main
  -------------------------------------------*/
#main-img {
  max-width: 1920px;
  object-fit: cover;
  height: 600px;
  width: 100%;
}

/*-------------------------------------------
  about
  -------------------------------------------*/
#about .section-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .Profile-img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-right: 30px;
}

#about .description {
  text-align: left;
}


/*-------------------------------------------
  bicycle
  -------------------------------------------*/
#bicycle ul {
  display: flex;
  justify-content: space-between;
}

#bicycle li {
  width: 32%;
}

/*-------------------------------------------
  footer
  -------------------------------------------*/
#footer {
  text-align: center;
  padding: 10px 0;
  font-size: 0.5rem;
}

/*-------------------------------------------
  レスポンシブ
  -------------------------------------------*/
@media screen and (max-width:600px){

  #main img {
  height: calc(100vh - 60px);
}

#about .section-profile {
  flex-direction: column;
}

#about img {
  margin-left: 0;
}

#bicycle ul {
  flex-direction: column;
}

#bicycle li {
  width: 100%;
  margin-bottom: 30px;
}

}